<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434276604602-sku13c7hku9o4aila3or3p4l2bpq0or1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434276604602-sku13c7hku9o4aila3or3p4l2bpq0or1</string>
	<key>API_KEY</key>
	<string>AIzaSyBOs0H2SsLCjhHUgTKzuMcEGIsOgd13VXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>434276604602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elcavn.vn</string>
	<key>PROJECT_ID</key>
	<string>job-fair-elcavn</string>
	<key>STORAGE_BUCKET</key>
	<string>job-fair-elcavn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434276604602:ios:f5ce0054ba1c09d4ca8083</string>
	<key>DATABASE_URL</key>
	<string>https://job-fair-elcavn-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>